* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-family: "letras-titulos-enlaces";
  src: url(../fuentes-letras/Fjalla_One/FjallaOne-Regular.ttf);
}

h1 {
  font-family: "letras-titulos-enlaces";
}

h2 {
  font-family: "letras-titulos-enlaces";
}

a {
  font-family: "letras-titulos-enlaces";
  color: black;
}

p {
  font-family: "letras-titulos-enlaces";
}

img {
  max-width: 100%;
}

@keyframes girar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
header {
  display: flex;
  background: linear-gradient(to bottom, cornflowerblue, rgba(7, 7, 218, 0.848));
  position: relative;
  align-items: center;
  justify-content: center;
}
header img {
  width: 17rem;
}
header svg {
  width: 3rem;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
header svg:hover {
  background-color: rgba(107, 130, 172, 0.696);
  border-radius: 10%;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header input {
  display: none;
}
header input:checked + ul {
  height: 130%;
}
header ul {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  font-family: "letras-titulos-enlaces";
  background: linear-gradient(to bottom, rgba(100, 148, 237, 0.537), rgba(7, 7, 218, 0.528));
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1.7rem;
  font-weight: bold;
  gap: 7%;
  padding-right: 5%;
  transition: all 0.5s;
}
header a {
  color: rgb(0, 0, 0);
}
header a:hover {
  color: rgba(23, 210, 210, 0.468);
}

@media screen and (min-width: 650px) {
  header svg {
    display: none;
  }
  header ul {
    overflow: visible;
    flex-direction: row;
    gap: 3%;
    font-size: 22px;
    padding: 0;
    height: 3rem;
    align-items: center;
  }
  header img {
    width: 20rem;
  }
}
@media screen and (min-width: 800px) {
  header ul {
    gap: 7%;
  }
}
@media screen and (min-width: 1040px) {
  header ul {
    gap: 5%;
    height: 4rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1300px) {
  header ul {
    gap: 9%;
  }
}
footer {
  background: linear-gradient(to bottom, cornflowerblue, rgba(7, 7, 218, 0.848));
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
footer h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 3%;
}
footer ul {
  display: flex;
  font-size: 20px;
  justify-content: center;
  flex-direction: row;
  gap: 8%;
}
footer div {
  padding-top: 10%;
}
footer .sub-nav {
  gap: 20%;
  padding-bottom: 10%;
}
footer a {
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: rgba(23, 210, 210, 0.468);
}

@media screen and (min-width: 540px) {
  footer h1 {
    font-size: 3rem;
  }
  footer ul {
    font-size: 30px;
  }
}
@media screen and (min-width: 650px) {
  footer ul {
    gap: 20%;
  }
}
@media screen and (min-width: 800px) {
  footer ul {
    font-size: 40px;
  }
  footer div {
    padding-top: 5%;
  }
}
@media screen and (min-width: 1040px) {
  footer ul {
    gap: 35%;
    font-size: 40px;
  }
}
@media screen and (min-width: 1300px) {
  footer ul {
    font-size: 3rem;
    gap: 40%;
  }
  footer div {
    padding-top: 3%;
  }
}
main {
  background: linear-gradient(to bottom, cornflowerblue, rgba(7, 7, 218, 0.848));
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  margin-top: 20%;
}
main div {
  width: 95%;
  margin-top: 10%;
  margin-bottom: 10%;
}
main .tarjetas-inicio {
  background: linear-gradient(90deg, rgb(60, 28, 221), rgba(146, 153, 44, 0.848), rgb(218, 58, 58), rgba(0, 213, 255, 0.838));
  padding: 3%;
  border-radius: 5%;
  width: 90%;
  height: 100%;
  position: relative;
  background-size: 400% 400%;
  animation: girar 10s ease-in-out infinite;
}
main img {
  border-radius: 5%;
}
main nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}
main figure {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 650px) {
  main h2 {
    font-size: 2rem;
  }
  main nav {
    flex-direction: row;
  }
  main div {
    margin-top: 5%;
  }
  main .tarjetas-inicio {
    width: 70%;
    margin: 2%;
  }
  main p {
    font-size: 20px;
    padding-top: 5%;
  }
}
@media screen and (min-width: 800px) {
  main h2 {
    font-size: 2.5rem;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  main .portada-img {
    width: 89%;
  }
  main p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1040px) {
  main h2 {
    font-size: 3rem;
  }
  main .portada-img {
    width: 75%;
  }
  main p {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
