* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    @font-face {
        font-family: "letras-titulos-enlaces" ;
        src: url(../fuentes-letras/Fjalla_One/FjallaOne-Regular.ttf);
    }
}



h1 {
    font-family: "letras-titulos-enlaces";
}

h2 {
    font-family: "letras-titulos-enlaces";
}

a {
    font-family: "letras-titulos-enlaces";
    color: black;
}

$colores-prinsipales:(
    principal:linear-gradient(to bottom,cornflowerblue,rgba(7, 7, 218, 0.848)),
    suave:linear-gradient(to bottom,rgba(100, 148, 237, 0.537),rgba(7, 7, 218, 0.528))
);

img {
    max-width: 100%;
}