footer {

    background:map-get($colores-prinsipales,principal) ;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h1 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        padding-top: 3%;
    }

    ul {
        display: flex;
        font-size:20px;
        justify-content: center;
        flex-direction: row;
        gap: 8%;
    }
  
    
    div {
        padding-top: 10%; 
    }

    

    .sub-nav {
        gap: 20%;
        padding-bottom: 10%;
    }

    a {
        color:rgb(0, 0, 0);
        &:hover {
          color: rgba(23, 210, 210, 0.468);
        }
    }

}

//formato tablet//

@media screen and (min-width:540px) {
    

    footer {

        h1 {
        font-size: 3rem;
        }

        ul {
            font-size: 30px;
        }
    }
}

//formato tablet final//


//formato pc monitor chico//
@media screen and (min-width:650px) {
    footer {
       ul {
        gap: 20%;
       }
    }
}

@media screen and (min-width:800px) {
    footer {
        ul {  
          font-size: 40px;
        }

        div {
            padding-top: 5%;
        }
    }
}

//formato pc monitor chico final//

//formato pc monitor intermedio//

@media screen and (min-width:1040px) {
    footer {
        ul {
          gap: 35%;
          font-size: 40px;
        }

    }
}

//formato pc monitor intermedio final//

//formato pc monitor grande//
@media screen and (min-width:1300px) {
    footer {
        ul {
          font-size: 3rem;

          gap: 40%;
        }
        
        div {
            padding-top: 3%;
        }

    }
}
//formato pc monitor grande final//